<h1>About StockomatiCo:</h1>
<br>
<p>StockomatiCo was established in 1885 as The Electro-Stock Company by Sir Stock Stockington, the inventor of the man's stocking. Stockington's drive and vision led The Electro-Stock Company through several tumultuous years, but Sir Stockington's perseverance was legendary, even if his business acumen was not.
<br>
<br>
Ultimately, in 1892, Sir Stockington's infamous penchant for starting fights in public taverns caught up with him, and he was laid to rest in Greyfriars Kirkyard, his tombstone emblazoned with his last words:</p>

<blockquote><p>"A knife? Hah! What do you intend to do with that? Stab me?" - Sir Stock Stockington, moments before being stabbed to death, 1892</p></blockquote>

<p>Upon Sir Stockington's unfortunate death, ownership of The Electro-Stock Company passed into the hands of his son, Sir Stock Stockington Jr., the inventor of the woman's stocking.
<br>
<br>
Under Sir Stockington Jr.'s leadership, The Electro-Stock Company rebranded as StockmatiCo and began an ongoing process of modernisation which has continued to this day.
<br>
<br>
StockomatiCo has been at the forefront of modern stock management for more than a century. We thank you for joining us on our journey!</p>
