<div class="center">
<h1>Welcome to The Stockmaster 9000!</h1>
<img src="/home.jpg" alt="A warehouse full of boxes" style="padding-bottom:0.5em;">
<p> Please select an option from the Navigation bar to continue.</p>
</div>
