<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Stockmaster 9000</title>
</head>
<body>
  <section class="wrapper">
    <header>The Stockomatic Stockmaster 9000</header>
    <nav>
      <ul>
        <li><a href="/stock">View All Stock</a></li>
        <li><a href="/stock/new">Add Item to stock</a></li>
      </ul>
    </nav>
    <main><%=yield%></main>
    <footer>&copy Stockomatic Company 2018</footer>
  </section>
</body>
</html>
