<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/style.css">
  <title>Stockmaster 9000</title>
</head>
<body>
    <nav>
      <ul>
        <li><a href="/stock">View All Stock</a></li>
        <li><a href="/stock/new">Add Item to stock</a></li>
        <li><a href="/manu">View All Manufacturers</a></li>
        <li><a href="/manu/new">Add Manufacturer</a></li>
        <li><a href="/support">Support</a></li>
        <li><a href="/about">About</a></li>
      </ul>
    </nav>
    <main><%=yield%></main>
    <footer>&copy StockomatiCo 2018</footer>
  </section>
</body>
</html>
