<form method="post" action="/stock">

  <label for="name">Name:</label>
    <input id="name-field" type="text" name="name" />

  <label for="man_id">Manufacturer:</label>
    <select id="man_id-field" name="man_id">
      <option value="1">Floppomatic</option>
      <option value="2">Doot-Tek</option>
    </select>

  <label for="info">Description:</label>
    <input id="info-field" type="text" name="info">

  <label for="stock">Stock level:</label>
    <input id="stock-field" type="number" name="stock"/>

  <label for="cost">Cost price:</label>
    <input id="cost-field" type="number" name="cost"/>

  <label for="sale">Sale price:</label>
    <input id="sale-field" type="number" name="sale"/>

  <input type='submit' value="Add Item"/>
</form>
