<form method="post" action="/manu">

  <label for="name">Name:</label>
    <input id="name-field" type="text" name="name" />

  <label for="info">Description:</label>
    <input id="info-field" type="text" name="info">

  <input type='submit' value="Add Manufacturer"/>
</form>
