<h1>Support:</h1>
<br>
<p><a href="mailto:support@stockmatico.co.co.co.uk">Email StockomatiCo Support!</a></p>
<br>
<p>Phone StockomatiCo Support: 0123 456 7890</p>
<p>Lines are open 9am to 5pm, Monday to Friday</p>
