<h1>Support:</h1>
<p>Stockmaster 9000 v2.3b</p>
<p>Registered to Cornershop Industries Ltd.</p>
<p>License number: CSI-762-P</p>
<p><a href="mailto:support@stockmatico.co.co.co.uk">Email StockomatiCo Support!</a></p>
<p>Phone StockomatiCo Support: 0123 456 7890</p>
<p class="sub">Lines are open 9am to 5pm, Monday to Friday</p>
