ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    width: 100%;
    font-family: "Arial", Helvetica, sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: darkslategrey;
}

h1 {
  font-style: oblique;
}

body {
  margin: 0;
  padding-top: 50px;
  font-family: "Arial", Helvetica, sans-serif;
  background-color: slategrey;
  background-image: url("/bgtile.png");
  color: white;
}

blockquote {
  font-style: italic;
}

p, label {
  font-size: 14pt;
  font-family: "Arial", Helvetica, sans-serif;
}

.sub {
  font-style: italic;
  font-size: 10pt;
}

footer {
  font-style: italic;
  font-size: 10pt;
  text-align: right;
}

input[type=text], input[type=number] {
  font-size: 14pt;
  font-family: "Arial", Helvetica, sans-serif;
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  box-sizing: border-box;
}

input[type=text]:focus {
  border: 3px solid #555;
}

select {
  font-size: 14pt;
  font-family: "Arial", Helvetica, sans-serif;
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: white;
}

input[type=button], input[type=submit], input[type=reset] {
  font-size: 14pt;
  font-family: "Arial", Helvetica, sans-serif;
  background-color: darkslategrey;
  border: none;
  border-radius: 4px;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

table{
  border-collapse: collapse;
}

.center {
  text-align: center;
}

.center a:link{
  color: black;
}

.center a:visited{
  color: black;
}

th {
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: darkslategrey;
  color: black;
}
tr:nth-child(odd) {
  background-color: slategrey;
  color: black;
}

img {
  border-radius: 15px;
}
